USE [master]
GO
/****** Object:  Database [BDDorregoFC]    Script Date: 02/07/2026 15:17:58 ******/
CREATE DATABASE [BDDorregoFC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BDDorregoFC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BDDorregoFC.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BDDorregoFC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BDDorregoFC_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDDorregoFC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDDorregoFC]
GO
/****** Object:  Table [dbo].[Bitacora]    Script Date: 02/07/2026 15:17:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Id_Usuario] [int] NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Modulo] [varchar](50) NOT NULL,
	[Evento] [varchar](100) NOT NULL,
	[Criticidad] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 02/07/2026 15:17:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](64) NOT NULL,
	[Nombre] [nvarchar](100) NULL,
	[Apellido] [nvarchar](100) NULL,
	[Dni] [int] NOT NULL,
	[IntentosFallidos] [int] NULL,
	[Bloqueado] [bit] NULL,
	[IDIdioma] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bitacora] ON 

INSERT [dbo].[Bitacora] ([Id], [Id_Usuario], [Fecha], [Modulo], [Evento], [Criticidad]) VALUES (1, 1, CAST(N'2026-07-02T14:08:26.600' AS DateTime), N'Seguridad', N'Login', 3)
INSERT [dbo].[Bitacora] ([Id], [Id_Usuario], [Fecha], [Modulo], [Evento], [Criticidad]) VALUES (2, 1, CAST(N'2026-07-02T14:08:46.183' AS DateTime), N'Seguridad', N'Login', 3)
INSERT [dbo].[Bitacora] ([Id], [Id_Usuario], [Fecha], [Modulo], [Evento], [Criticidad]) VALUES (3, 1, CAST(N'2026-07-02T14:09:45.483' AS DateTime), N'Seguridad', N'Login', 3)
SET IDENTITY_INSERT [dbo].[Bitacora] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([Id], [Username], [Password], [Nombre], [Apellido], [Dni], [IntentosFallidos], [Bloqueado], [IDIdioma]) VALUES (1, N'admin', N'240be518fabd2724ddb6f04eeb1da5967448d7e831c08c8fa822809f74c720a9', N'Maxi', N'Ramirez', 123, 0, 0, 2)
INSERT [dbo].[Usuario] ([Id], [Username], [Password], [Nombre], [Apellido], [Dni], [IntentosFallidos], [Bloqueado], [IDIdioma]) VALUES (2, N'usuario', N'dfa7a2273567dcd1efffb9a46308e91c20fa13c44c3441bc69cd6a7869b3f7fd', N'Leo', N'Sansone', 321, 0, 0, 2)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuario__536C85E4456CAE5F]    Script Date: 02/07/2026 15:17:58 ******/
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Usuario__C03085755C47DB01]    Script Date: 02/07/2026 15:17:58 ******/
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[Dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((0)) FOR [IntentosFallidos]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((0)) FOR [Bloqueado]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((1)) FOR [IDIdioma]
GO
ALTER TABLE [dbo].[Bitacora]  WITH CHECK ADD  CONSTRAINT [FK_Bitacora_Usuario] FOREIGN KEY([Id_Usuario])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[Bitacora] CHECK CONSTRAINT [FK_Bitacora_Usuario]
GO
/****** Object:  StoredProcedure [dbo].[SPActualizarIdiomaUsuario]    Script Date: 02/07/2026 15:17:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPActualizarIdiomaUsuario]
    @idUsuario INT,
    @idIdioma INT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Usuario
    SET IDIdioma = @idIdioma
    WHERE Id = @idUsuario;
END
GO
/****** Object:  StoredProcedure [dbo].[SPActualizarIntentosLogin]    Script Date: 02/07/2026 15:17:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPActualizarIntentosLogin]
    @Username VARCHAR(50),
    @IntentosFallidos INT,
    @Bloqueado BIT
AS
BEGIN
    UPDATE Usuario
    SET IntentosFallidos = @IntentosFallidos,
        Bloqueado = @Bloqueado
    WHERE Username = @Username
END

GO
/****** Object:  StoredProcedure [dbo].[SPCambiarEstadoActivoUsuario]    Script Date: 02/07/2026 15:17:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPCambiarEstadoActivoUsuario] 
	@Id int, @Bloqueado BIT
AS
BEGIN
	UPDATE Usuario Set Bloqueado = @Bloqueado
	WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[SPDesbloquearUsuario]    Script Date: 02/07/2026 15:17:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SPDesbloquearUsuario]
    @Id INT,
    @Password VARCHAR(64)
AS
BEGIN
    UPDATE Usuario
    SET Bloqueado = 0,
        IntentosFallidos = 0,
        [Password] = @Password
    WHERE Id = @Id
END

GO
/****** Object:  StoredProcedure [dbo].[SPExisteUsuario]    Script Date: 02/07/2026 15:17:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SPExisteUsuario]
 @Username VARCHAR(50)
AS
BEGIN
	SELECT 1 FROM Usuario WHERE Username = @Username
END
GO
/****** Object:  StoredProcedure [dbo].[SPFiltrarBitacora]    Script Date: 02/07/2026 15:17:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SPFiltrarBitacora]
    @Nombre NVARCHAR(100) = NULL,
    @Apellido NVARCHAR(100) = NULL,
    @Username NVARCHAR(50) = NULL,
    @Modulo VARCHAR(50) = NULL,
    @Evento VARCHAR(100) = NULL,
    @Criticidad INT = NULL,
    @FechaInicio DATETIME = NULL,
    @FechaFin DATETIME = NULL
AS
BEGIN
    SELECT 
        B.Id,
        B.Id_Usuario,
        U.Username,
        U.Nombre,
        U.Apellido,
        B.Fecha,
        B.Modulo,
        B.Evento,
        B.Criticidad
    FROM Bitacora B
    INNER JOIN Usuario U ON B.Id_Usuario = U.Id
    WHERE
        (@Nombre IS NULL OR U.Nombre LIKE '%' + @Nombre + '%')
        AND (@Apellido IS NULL OR U.Apellido LIKE '%' + @Apellido + '%')
        AND (@Username IS NULL OR U.Username = @Username)
        AND (@Modulo IS NULL OR B.Modulo = @Modulo)
        AND (@Evento IS NULL OR B.Evento = @Evento)
        AND (@Criticidad IS NULL OR B.Criticidad = @Criticidad)
        AND (@FechaInicio IS NULL OR B.Fecha >= @FechaInicio)
        AND (@FechaFin IS NULL OR B.Fecha < DATEADD(DAY, 1, @FechaFin))
    ORDER BY B.Fecha DESC;
END

GO
/****** Object:  StoredProcedure [dbo].[SPInsertarEventoBitacora]    Script Date: 02/07/2026 15:17:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPInsertarEventoBitacora]
    @Id_Usuario INT,
    @Modulo VARCHAR(50),
    @Evento VARCHAR(100),
    @Criticidad INT
AS
BEGIN
    INSERT INTO Bitacora (Id_Usuario, Fecha, Modulo, Evento, Criticidad)
    VALUES (@Id_Usuario, GETDATE(), @Modulo, @Evento, @Criticidad);
END

GO
/****** Object:  StoredProcedure [dbo].[SPInsertarUsuario]    Script Date: 02/07/2026 15:17:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPInsertarUsuario]
	@Username VARCHAR(50),
	@Password VARCHAR(64),
    @Nombre VARCHAR(50),
    @Apellido VARCHAR(50),
    @DNI INT
AS
BEGIN
    INSERT INTO Usuario (Username, [Password], Nombre, Apellido, Dni, Bloqueado, IntentosFallidos)
    VALUES (@Username, @Password, @Nombre, @Apellido, @DNI, 0, 0)
END

GO
/****** Object:  StoredProcedure [dbo].[SPLimpiarBitacoraVieja]    Script Date: 02/07/2026 15:17:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SPLimpiarBitacoraVieja]

AS
BEGIN
	DELETE FROM Bitacora 
    WHERE Criticidad >= 3 
      AND Fecha < DATEADD(day, -3, GETDATE());
END
GO
/****** Object:  StoredProcedure [dbo].[SPListarBitacora]    Script Date: 02/07/2026 15:17:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPListarBitacora]
AS
BEGIN
    SELECT 
        B.Id,
        B.Id_Usuario,
        U.Username,
		U.Nombre,
        U.Apellido,
        B.Fecha,
        B.Modulo,
        B.Evento,
        B.Criticidad
    FROM Bitacora B
    INNER JOIN Usuario U ON B.Id_Usuario = U.ID 
    ORDER BY B.Fecha DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[SPObtenerTodosLosUsuarios]    Script Date: 02/07/2026 15:17:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SPObtenerTodosLosUsuarios]
AS
BEGIN
	SELECT Id, Username, Nombre, Apellido, Dni, Bloqueado, IntentosFallidos 
    FROM Usuario
END
GO
/****** Object:  StoredProcedure [dbo].[SPSelectByUser]    Script Date: 02/07/2026 15:17:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPSelectByUser]
    @Username VARCHAR(50)
AS
BEGIN
    SELECT Id, Username, Password, Nombre, Apellido, Dni, IntentosFallidos, Bloqueado, IDIdioma
    FROM Usuario
    WHERE Username = @Username
END
GO
/****** Object:  StoredProcedure [dbo].[SPUpdatePassword]    Script Date: 02/07/2026 15:17:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPUpdatePassword]
    @Id INT,
    @Password VARCHAR(255)
AS
BEGIN
    UPDATE Usuario 
    SET Password = @Password 
    WHERE Id = @Id
END
GO
USE [master]
GO
